<a href="https://colab.research.google.com/github/drdtdttt/ASSETS/blob/main/C_131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/procodingclass/PRO-C114-Text-Sentiment-Dataset

Cloning into 'PRO-C114-Text-Sentiment-Dataset'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 20 (delta 2), reused 0 (delta 0), pack-reused 11
Unpacking objects: 100% (20/20), 2.94 MiB | 5.19 MiB/s, done.

In [2]:
import pandas as pd
data =pd.read_excel('/content/PRO-C114-Text-Sentiment-Dataset/text-emotion-training-dataset.xlsx')
data.head()

                                        Text_Emotion
0                    i didnt feel humiliated;sadness
1  i can go from feeling so hopeless to so damned...
2  im grabbing a minute to post i feel greedy wro...
3  i am ever feeling nostalgic about the fireplac...
4                         i am feeling grouchy;anger

In [3]:
train_data = pd.DataFrame(data["Text_Emotion"].str.split(";",1).tolist(), columns = ['Text','Emotion'])
train_data.head()

<ipython-input-3-28bd5da37683>:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  train_data = pd.DataFrame(data["Text_Emotion"].str.split(";",1).tolist(), columns = ['Text','Emotion'])

                                                Text  Emotion
0                            i didnt feel humiliated  sadness
1  i can go from feeling so hopeless to so damned...  sadness
2   im grabbing a minute to post i feel greedy wrong    anger
3  i am ever feeling nostalgic about the fireplac...     love
4                               i am feeling grouchy    anger

In [4]:
train_data['Emotion'].unique()

array(['sadness', 'anger', 'love', 'surprise', 'fear', 'joy'],
      dtype=object)

In [5]:
encode_emotions = {"anger": 0, "fear": 1, "joy": 2, "love": 3, "sadness": 4, "surprise": 5}
train_data.replace(encode_emotions,inplace=True)
train_data.head()

                                                Text  Emotion
0                            i didnt feel humiliated        4
1  i can go from feeling so hopeless to so damned...        4
2   im grabbing a minute to post i feel greedy wrong        0
3  i am ever feeling nostalgic about the fireplac...        3
4                               i am feeling grouchy        0

In [6]:
sentences=[]
labels=[]
for i in range(len(train_data)):
  sentence=train_data.loc[i,'Text']
  sentences.append(sentence)

  label=train_data.loc[i,'Emotion']
  labels.append(label)
sentences[57],labels[60]

('i keep feeling pleasantly surprised at his supportiveness and also his ease in new situations',
 2)

In [7]:
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [8]:
vocab_size = 10000
embedding_dim = 16
oov_tok = "<OOV>"
training_size = 20000

tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(sentences)
word_index=tokenizer.word_index
word_index['the']

6

In [9]:
training_sequences = tokenizer.texts_to_sequences(sentences)
padding_type='post'
max_length = 100
trunc_type='post'
training_padded = pad_sequences(training_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)
training_padded

array([[   2,  139,    3, ...,    0,    0,    0],
       [   2,   40,  101, ...,    0,    0,    0],
       [  17, 3060,    7, ...,    0,    0,    0],
       ...,
       [   2,    3,  327, ...,    0,    0,    0],
       [   2,    3,   14, ...,    0,    0,    0],
       [   2,   47,    7, ...,    0,    0,    0]], dtype=int32)